# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Ralina Tsykunova\Desktop\Бэллина папка\Разработка\Itlogia\2 блок. CSS\Виды отображения элементов. Computed Style. Урок 13\Домашнее задание\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
